beautifulsoup4
html5lib==1.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.2
keras==2.9.0
Keras-Preprocessing==1.1.2
lxml==4.9.1
matplotlib
matplotlib-inline
mplfinance==0.12.9b1
nb_conda
nb-conda-kernels
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
numpy==1.23.2
pandas==1.4.3
pandas-datareader==0.10.0
Pillow==9.2.0
pretty-html-table==0.9.16
PyMySQL
python-telegram-bot==13.14
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
scikit-learn==1.1.2
scipy==1.9.0
selenium==4.4.3
sklearn==0.0
SQLAlchemy==1.4.41
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-addons==0.17.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
tqdm==4.64.1
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.12
webdriver-manager==3.8.3
yfinance==0.1.74
